/* THIS IS THE BOILER PLATE STYLES DO NOT CHANGE ANYTHING HERE */
/*******/
/*******/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--text-size);
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

/*******/
/*******/
/* THIS IS THE BOILER PLATE STYLES DO NOT CHANGE ANYTHING HERE */

/* You can use this root element for variables to help make css styling easier */

:root {
  --background-color: #0E101F;
  --Color-text: #FFFFFF;
  --Red-color: #F61232;
  --Light-Red: #F96F82;
  --Light-blue-color: #9DB2C9;
  --Button-Hover-BKG: #B8B8B8;
  --Input-BKG-color: #4C4D55;

  --H1-size: 64px;
  --Subtitle-size: 16px;
  --text-size: 24px;
  --Nav-links: 16px; /* or 24px */
  --Button-size: 16px;
}

.navbar {
  height: 8vw;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  aspect-ratio: 111 / 32;
  height: auto;
  width: 111px;
  background-image: url(assets/images/clever%20Logo.png);
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: center;
}

.tabs {
  /* background-color: red; */
  height: 5vw;
  width: auto;
  display: flex;
  align-items: center;
  gap: 32px;
}

.links {
  border: none;
  font-size: var(--Nav-links);
  background-color: var(--background-color);
  color: var(--Color-text);
  text-decoration: none;
}

.links:hover,
.links:focus,
.sign-up:hover,
.sign-up:focus,
.sign-up.child:focus, 
.sign-up.child:hover {
  color: var(--Red-color);
}

.buttons {
  /* background-color: red; */
  height: 100%;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up {
  font-size: var(--Button-size);
  height: 4.5vw;
  width: 12vw;
  max-height: 40px;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--Color-text);
}

.sign-up.Register {
  background-color: var(--Color-text);
  color: var(--background-color);
}

.sign-up.Register:focus,
.sign-up.Register:hover {
  background-color: var(--Button-Hover-BKG);
}

.hamburger-menu {
  display: none;
}

.body-container {
  /* background-color: red; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex: 1;
}

.sidebar {
  display: none;
  position: fixed;
}

.photo {
  background-image: url(assets/images/Berry-hero-img.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 5 / 7;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  height: 100%;
  border-radius: 10px;
}

.content-container {
  /* background-color: green; */
  height: 100%;
  width: 100%;
  max-width: 500px;
  color: var(--Color-text);
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.title {
  font-size: var(--H1-size);
  padding-top: 24px;
  line-height: 1;
}

.text-container {
  padding-top: 24px;
  font-size: var(--text-size);
}

.body-text.shadow {
  color: var(--Light-blue-color);
}

.input-field {
  padding-top: 16px;
  width: 100%;
  padding-bottom: 16px;
}

.input {
  height: 40px;
  width: calc(100% / 2 - 5px);
  outline: none;
  border-radius: 5px;
  background-color: var(--Input-BKG-color);
  border: none;
}

.input:focus,
.input:hover {
  background-color: var(--Button-Hover-BKG);
}

.access {
  background-color: var(--Red-color);
  color: var(--Color-text);
  font-size: var(--Button-size);
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.access:focus,
.access:hover {
  background-color: var(--Light-Red);
}

input {
  box-sizing: border-box;
  padding-left: 5px;
  color: var(--Color-text);
  font-family: 14px;
}

input::placeholder {
  color: var(--Color-text);
}

button {
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    /* background-color: red; */
    --H1-size: 36px;
    --Nav-links: 20px;
    --text-size: 16px;
    --bar-width: 30px;
    --bar-height: 3px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .tabs {
    display: none;
  }

  .buttons {
    display: none;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 3;
    cursor: pointer;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background-color);
    box-shadow: 0 0 0 1px var(--Color-text);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--Color-text);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-color: var(--background-color);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-color: var(--background-color);
  }
  
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    top: 0;
    right: 15rem; /* Initially hidden off-screen */
    width: 15rem; /* Set width */
    height: 100vh; /* Full viewport height */
    background-color: var(--Color-text);
    color: var(--background-colornd);
    padding: 0.5rem 1rem;
    padding-top: 8rem;
    transform: translateX(200%); /* Initially out of view */
    transition: transform var(--animation-timing); /* Smooth transition */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }

  .menu-items.child {
    text-decoration: none;
    color: var(--background-color);
    font-size: 20px;
    font-weight: bold;
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: var(--Color-text);
    border: none;

  }

  .sign-up.child {
    background-color: var(--Color-text);
    color: var(--background-color);
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
  }

  .sign-up.Register {
    border: 1px solid var(--background-color);
    width: fit-content;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .menu-items:focus,
  .menu-items:hover {
    color: var(--Red-color);
  }
  
  .hamburger-menu:has(input:checked) + .sidebar {
    transform: translateX(100%);
  }

  .body-container {
    flex-direction: column-reverse;
  }

  .content-container {
    padding-left: 0;
    height: auto;
    padding-bottom: 50px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    /* background-color: green; */
    --H1-size: 48px;
    --text-size: 16px;
    --bar-width: 35px;
    --bar-height: 3px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .tabs {
    display: none;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 3;
    cursor: pointer;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background-color);
    box-shadow: 0 0 0 1px var(--Color-text);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--Color-text);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-color: var(--background-color);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-color: var(--background-color);
  }
  
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    top: 0;
    right: 15rem; /* Initially hidden off-screen */
    width: 15rem; /* Set width */
    height: 100vh; /* Full viewport height */
    background-color: var(--Color-text);
    color: var(--background-colornd);
    padding: 0.5rem 1rem;
    padding-top: 8rem;
    transform: translateX(200%); /* Initially out of view */
    transition: transform var(--animation-timing); /* Smooth transition */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }

  .menu-items.child {
    text-decoration: none;
    color: var(--background-color);
    font-size: 20px;
    font-weight: bold;
  }

  .buttons {
    width: fit-content;
  }

  .sign-up.sign-up.Register {
    min-width: 75px;
  }

  .sidebar > :nth-last-child(1) {
    display: none;
  }

  .menu-items:focus,
  .menu-items:hover {
    color: var(--Red-color);
  }
  
  .hamburger-menu:has(input:checked) + .sidebar {
    transform: translateX(100%);
  }

  .body-container {
    flex-direction: column-reverse;
  }

  .content-container {
    padding-left: 0;
    height: auto;
    padding-bottom: 50px;
  }

}
